In [30]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
import googleapiclient.discovery
from googleapiclient.discovery import build

In [2]:

# Install and upgrade Google API Python. This is a wrapper around install -- upgrade
# pip install --upgrade google-api-python-client

In [179]:
def YTA(Channel_name):# Creating the Dictionary to store the comments
    Dict_for_comments = {
    'ID':[],
    # 'Video_title':[],
    'commentz':[],
    'Like':[],
    'Date':[]    
    }
    youtube = googleapiclient.discovery.build('youtube', 'v3', developerKey='AIzaSyBWyGzoywEWCFJ6gXX965l1qLbAy4DGmyI')
    # searching the youtube channel by using Search method and returns -videoid,title
    response = youtube.search().list(
        part='id, snippet',
        q='Channel_name',
        maxResults=10,
    ).execute()
        # videoid,title
    for i in videoid:
        # Retrieve the comments for a video.
        comments = youtube.commentThreads().list(
            part='snippet',
            videoId=i,
            maxResults=1000
        ).execute()
        # Iterate through the comments and print them.
        for comment in comments['items']:
            Dict_for_comments['ID'].append(comment['snippet']['topLevelComment']['id'])
            Dict_for_comments['commentz'].append(comment['snippet']['topLevelComment']['snippet']['textDisplay'])
            Dict_for_comments['Like'].append(comment['snippet']['topLevelComment']['snippet']['likeCount'])
            Dict_for_comments['Date'].append(comment['snippet']['topLevelComment']['snippet']['publishedAt'])

In [180]:
YTA('techTFQ')

In [184]:
def Search(Name):
    YTA(Search)
    return Com_sec[:5]

In [187]:
Search('HasanAbi')

,ID,commentz,Like,Date
0,Ugx_QQm_WaPjUJWa7zJ4AaABAg,can you please also include 3-4 SQL real life ...,0,2023-05-29T13:40:26Z
1,Ugz6gBgfl3hTLlDI-r94AaABAg,Hi can you make a video on SQL alias? Please,0,2023-05-28T11:08:04Z
2,UgxSvq_tV0ENzkb6ECp4AaABAg,Start python,0,2023-05-28T06:42:51Z
3,UgxDhc7xiJfwOU_dNAV4AaABAg,"Hello sir ,I am really interested in this boot...",0,2023-05-28T03:19:57Z
4,UgzYhUtMKV9_QV11U8l4AaABAg,Will there be any tasks or projects to work on?,0,2023-05-28T02:51:22Z

In [181]:
# datafame of the Comment we recence from the comments
Com_sec = pd.DataFrame(Dict_for_comments)
# size of dataframe
Com_sec.shape

(594, 4)

In [182]:
Com_sec[:5]

,ID,commentz,Like,Date
0,Ugx_QQm_WaPjUJWa7zJ4AaABAg,can you please also include 3-4 SQL real life ...,0,2023-05-29T13:40:26Z
1,Ugz6gBgfl3hTLlDI-r94AaABAg,Hi can you make a video on SQL alias? Please,0,2023-05-28T11:08:04Z
2,UgxSvq_tV0ENzkb6ECp4AaABAg,Start python,0,2023-05-28T06:42:51Z
3,UgxDhc7xiJfwOU_dNAV4AaABAg,"Hello sir ,I am really interested in this boot...",0,2023-05-28T03:19:57Z
4,UgzYhUtMKV9_QV11U8l4AaABAg,Will there be any tasks or projects to work on?,0,2023-05-28T02:51:22Z